In [88]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
data = pd.read_csv(r"datasets\movie_metadata.csv")
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [4]:
data.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [19]:
col = data["duration"]
col = col.dropna()

In [47]:
zscore = stats.zscore(col)
# type(zscore)
res = np.where(zscore > 3.0)
res

(array([   9,   22,   24,   25,   31,  110,  112,  146,  164,  272,  305,
         323,  336,  695,  703,  709,  837,  880,  905,  914, 1035, 1121,
        1122, 1141, 1157, 1214, 1371, 1426, 1498, 1519, 1567, 1706, 1710,
        1809, 1870, 1904, 1976, 2045, 2084, 2262, 2351, 2352, 2462, 2557,
        2625, 2640, 2723, 2812, 2833, 2966, 3022, 3044, 3071, 3263, 3307,
        3506, 3645, 3864, 3963, 4070, 4080, 4681, 4695, 4734], dtype=int64),)

In [53]:
zscore[22]

1.9368546125758421

In [72]:
df_director = data[["director_name","imdb_score"]]
dt = df_director.dropna()

In [87]:
dt["director_name"].value_counts()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        17
                    ..
John Crowley         1
Rob Pritts           1
David S. Ward        1
R.J. Cutler          1
Daniel Hsia          1
Name: director_name, Length: 2398, dtype: int64

In [96]:
actor_col = data[["actor_1_name","actor_2_name","actor_3_name"]]
actor_col

         actor_1_name      actor_2_name          actor_3_name
0         CCH Pounder  Joel David Moore             Wes Studi
1         Johnny Depp     Orlando Bloom        Jack Davenport
2     Christoph Waltz      Rory Kinnear      Stephanie Sigman
3           Tom Hardy    Christian Bale  Joseph Gordon-Levitt
4         Doug Walker        Rob Walker                   NaN
...               ...               ...                   ...
5038      Eric Mabius     Daphne Zuniga          Crystal Lowe
5039      Natalie Zea     Valorie Curry         Sam Underwood
5040      Eva Boehnke     Maxwell Moody        David Chandler
5041        Alan Ruck     Daniel Henney           Eliza Coupe
5042      John August  Brian Herzlinger              Jon Gunn

[5043 rows x 3 columns]

In [12]:
def apriori(transactions, min_support):
    # Tính số lần xuất hiện của các phần tử duy nhất trong các giao dịch
    item_counts = {}
    for transaction in transactions:
        for item in transaction:
            if item in item_counts:
                item_counts[item] += 1
            else:
                item_counts[item] = 1
    
    # Lọc các phần tử không đáp ứng ngưỡng hỗ trợ tối thiểu
    frequent_items = set(item for item in item_counts if item_counts[item]/len(transactions) >= min_support)
    
    # Tìm các cặp phần tử phổ biến đầu tiên
    candidate_itemsets = [(item,) for item in frequent_items]
    frequent_itemsets = []
    while candidate_itemsets:
        frequent_itemsets.extend(candidate_itemsets)
        candidate_itemsets = generate_new_candidates(candidate_itemsets)
        frequent_itemsets = filter_candidates(frequent_itemsets, candidate_itemsets, transactions, min_support)
    
    return frequent_itemsets
    
def generate_new_candidates(itemsets):
    new_itemsets = []
    for i in range(len(itemsets)):
        for j in range(i+1, len(itemsets)):
            itemset1 = itemsets[i]
            itemset2 = itemsets[j]
            if len(itemset1) != len(itemset2):
                continue
            new_itemset = tuple(sorted(set(itemset1) | set(itemset2)))
            if len(new_itemset) == len(itemset1) + 1:
                new_itemsets.append(new_itemset)
    return new_itemsets
    
def filter_candidates(frequent_itemsets, candidate_itemsets, transactions, min_support):
    item_counts = {}
    for transaction in transactions:
        for itemset in candidate_itemsets:
            if set(itemset).issubset(set(transaction)):
                if itemset in item_counts:
                    item_counts[itemset] += 1
                else:
                    item_counts[itemset] = 1
    
    frequent_itemsets = []
    for itemset in candidate_itemsets:
        support = item_counts.get(itemset, 0)/len(transactions)
        if support >= min_support:
            frequent_itemsets.append(itemset)
    
    return frequent_itemsets


transaction_list = [["M1", "M2", "M5"], ["M2","M4"], ["M2","M3"], ["M1", "M2", "M4"],
["M1", "M3"],
["M2", "M3"],
["M1", "M3"],
["M1", "M2", "M3", "M5"],
["M1", "M2", "M3"]]

In [17]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
import pandas as pd

In [40]:
te = TransactionEncoder()
te_ary = te.fit(transaction_list).transform(transaction_list)
te_ary = pd.DataFrame(te_ary, columns = ["M1","M2","M3","M4","M5"] )
te_ary

      M1     M2     M3     M4     M5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [47]:
apriori(te_ary, min_support=0.22, use_colnames=True)

     support      itemsets
0   0.666667          (M1)
1   0.777778          (M2)
2   0.666667          (M3)
3   0.222222          (M4)
4   0.222222          (M5)
5   0.444444      (M2, M1)
6   0.444444      (M3, M1)
7   0.222222      (M5, M1)
8   0.444444      (M2, M3)
9   0.222222      (M2, M4)
10  0.222222      (M2, M5)
11  0.222222  (M2, M3, M1)
12  0.222222  (M2, M5, M1)